body {
    background-size: 100% auto;
}
h2{
    font-size: 40px;
    color: white;
}

.title {
    font-size: 80px;
    color: white;
}

.main {
    font-size: 30px;
    color: white;
}

.skillImage{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

th {

}

td {
    border: 1px solid white;
}

table, th, td {

    text-align: center;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;

}
.lore{
    display: inline-block;
    color: white;
    float: right;
    font-size: 20px;
}

.skillLore{
    color: white;
    width: 20%;

}